{% extends "public/base_public.html" %}

{% block body_class %}{% endblock %}

{% block title %}
{{ categoria.nome }} - {{ estabelecimento.nome }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cardapio.css') }}">
{% endblock %}


{% block content %}

<div class="menuPage">

    <header class="menuHeader">

        <span class="label">
            CATEGORIA
        </span>

        <h1>
            {{ categoria.nome }}
        </h1>

    </header>


    {% if categoria.subcategorias %}

    <section class="menuSection">

        <h2>
            Subcategorias
        </h2>

        <div class="menuCategorias">

            {% for subcategoria in categoria.subcategorias %}

            <a href="{{ url_for(
                    'public.subcategoria',
                    slug=estabelecimento.slug,
                    subcategoria_id=subcategoria.id
                ) }}" class="linkCategoria">

                {{ subcategoria.nome }}

                <span>
                    →
                </span>

            </a>

            {% endfor %}

        </div>

    </section>

    {% endif %}


    {% if categoria.produtos %}

    <section class="menuSection">

        <h2>
            Produtos
        </h2>

        <div class="produtos">

            {% for produto in categoria.produtos %}

            <article class="produto">

                {% if produto.imagem %}

                <img src="{{ url_for(
                        'static',
                        filename='uploads/' ~ produto.imagem
                    ) }}" alt="{{ produto.nome }}">

                {% endif %}

                <div>

                    <h3>
                        {{ produto.nome }}
                    </h3>

                    {% if produto.descricao %}

                    <p>
                        {{ produto.descricao }}
                    </p>

                    {% endif %}

                    <strong>
                        R$ {{ "%.2f"|format(produto.preco)|replace(".", ",") }}
                    </strong>

                </div>

            </article>

            {% endfor %}

        </div>

    </section>

    {% endif %}


    {% if not categoria.subcategorias and not categoria.produtos %}

    <p>
        Esta categoria ainda não possui produtos.
    </p>
    <a href="{{ url_for('public.cardapio', slug=estabelecimento.slug) }}" class="sobre-cta-button">

        INÍCIO

    </a>
    {% endif %}

</div>

{% endblock %}